{% extends 'basePrincipal.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="badge text-bg-success text-wrap">Programación</span>
                <h1>Curso de python</h1>
                <div style="margin-top: 10px; margin-bottom: 10px">
                    <a href="#" class="btn btn-warning"><i class="fa-solid fa-book"></i> Inscribirse</a>
                </div>
                <img src="https://placehold.co/1000x500/png">
                <p style="margin-top: 10px"> <i class="fa-brands fa-google-scholar"></i> Instructor : Joryer Jimenez</p>
                <p class="btn btn-outline-success" ><i class="fa-solid fa-money-bills"></i> $99.00</p>

                <h3>Descripción</h3>
                <p>Este curso es para aprender a programar en python</p>
            </div>
        </div>
    </div>
{% endblock %}