{% extends 'basePrincipal.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>¡Bienvenido!</h1>
                <h2>Cursos Activos</h2>

                <div class="card" style="width: 18rem;">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div style="margin-bottom: 10px">
                        <span class="badge text-bg-success text-wrap">Programación</span>
                        <span class="badge text-bg-success text-wrap">Abierto</span>
                        </div>
                        <span class="text-primary float-end">$99.00</span>
                        <h5 class="card-title">Curso Python</h5>
                        <p class="card-text">Joryer JL</p>
                        <a href="{% url 'website:detail_course' %}" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i> Ver</a>
                        <a href="{% url 'website:inscripcion_course' %}" class="btn btn-warning"><i class="fa-solid fa-book"></i> Inscribirse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}