{% extends 'basePrincipal.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>¡Bienvenido!</h1>
                <h2>Cursos Activos</h2>
            {% if request.user.is_authenticated %}
                {% if  request.user.first_name and request.user.last_name and request.user.email %}
                {% else %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <i class="fa-solid fa-triangle-exclamation"></i> Completa tus datos en <a
                            href="{% url 'usuarios:perfil_alumno' %}">perfil</a>, para poder pre-inscribirte a un curso.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endif %}

                <div class="row">
                    {% for course in  course_list %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <a href="{% url 'website:detail_course' course.pk %}">
                                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <div style="margin-bottom: 10px">
                                        <span class="badge text-bg-success text-wrap">{{ course.curso.categoria }}</span>
                                        <span class="badge text-bg-success text-wrap">{{ course.estatus }}</span>
                                        <span class="badge text-bg-danger text-wrap">Sede: {{ course.get_sede_display }}</span>
                                    </div>
                                    <span class="text-primary float-end">$ {{ course.precio }}</span>
                                    <h5 class="card-title">{{ course.curso }}</h5>
                                    <p class="card-text">{{ course.instructor }}</p>
                                    <a href="{% url 'website:detail_course' course.curso.pk %}" class="btn btn-primary"><i
                                            class="fa-solid fa-circle-info"></i> Ver más detalles</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}