{% extends 'dashboard/base_dashboard.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Crear Curso Ofertado</h1>
            <a class="btn btn-outline-warning" href="{% url 'dashboard:lista_curso' %}" style="max-width: 12%"><i class="fa-solid fa-left-long"></i> Regresar</a>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-save"></i> Guardar</button>

                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}