{% extends 'dashboard/base_dashboard.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Cursos</h1>
            <a href="#" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i> Nuevo Curso</a>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Curso</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}