{% extends 'basePrincipal.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Mi perfil</h1>
                <form method="post">
                    <div class="row">
                        <div class="col">
                            <label for="">Nombre</label>
                            <input type="text" name="nombre" class="form-control">
                        </div>
                        <div class="col">
                            <label for="">Apellido</label>
                            <input type="text" name="apellido" class="form-control">
                        </div>
                        <div class="col">
                            <label for="">Telefono</label>
                            <input type="tel" name="telefono" class="form-control">
                        </div>
                        <div class="col">
                            <label for="">Email</label>
                            <input type="email" name="email " class="form-control">
                        </div>
                        <div class="py-2">
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-outline-success"><i
                                            class="fa-solid fa-floppy-disk"></i> Guardar
                                    </button>
                                </div>
                                <div class="col">
                                    <a href="{% url 'password_change' %}" type="submit" class="btn btn-outline-danger"><i class="fa-solid fa-arrows-rotate"></i> Cambiar Contraseña
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Mis cursos</h2>
                <div class="row">
                    {% for curso in  cursos %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <a href="{% url 'website:detail_course' curso.pk %}">
                                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <div style="margin-bottom: 10px">
                                        <span class="badge text-wrap {% if curso.estatus.nombre == 'Aceptado' %}text-bg-success{% elif curso.estatus.nombre == 'Rechazado' %}text-bg-danger{% else %}text-bg-warning{% endif %}">{{ curso.estatus }}</span>

                                        <span class="badge text-bg-danger text-wrap">Sede: {{ curso.curso.get_sede_display }}</span>
                                    </div>
                                    <h5 class="card-title">{{ curso.curso.curso }}</h5>
                                    <p class="card-text">{{ curso.curso.instructor }}</p>
                                    <a href="{% url 'website:detail_course' curso.pk %}" class="btn btn-primary"><i
                                            class="fa-solid fa-circle-info"></i> Ver</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}